<div>
  <p>hi i'm the tasks</p>
  <% @tasks.each do |task| %>
    <%= link_to task_path(task)do %>
      <%= task.title %>
    <% end %>
    <% if task.status == 'completed' && current_user == task.project.user %>
      <%= link_to '✅', uncomplete_task_path(task), data: { turbo_method: :patch} %>
    <% elsif task.status == 'completed' %>
      <p>☑️</p>
    <% elsif current_user == task.project.user %>
      <%= link_to '□', complete_task_path(task), data: { turbo_method: :patch} %>
    <% else %>
      <p>&#9744;</p>
    <% end %>
    <br>
  <% end %>
  <br>
  <%= link_to "New Task", new_project_task_path, class: "btn btn-primary", id: "banner-button"  %>
<div>
