<%= @task.title %>
<% if @task.jobs.length > 0 %>
  <p> the jobs for this task are <p>
  <% @task.jobs.each do |job| %>
    <p> <%= job.title %> <p>
    <p> <%= job.worker.name %> <p>
    <% if job.status %>
      <p>&#x2705;</p>
    <% elsif current_user.worker == job.worker || current_user.worker == job.task.project.worker %>
      <%= link_to '□', complete_job_path(job), data: { turbo_method: :patch} %>
    <% else %>
      <p>&#9744;</p>
    <% end %>
  <% end %>
<% else %>
  <p> There is no jobs for this task </p>
<% end %>
<br>
<%= link_to "New Job", new_task_job_path(@task), class: "btn btn-primary", id: "banner-button"  %>
<div class="container">
  <%= link_to "Back to tasks", project_tasks_path(@task.project) %>
</div>
