<%= @project.title %>
<% if @assigned %>
  <p> the teams currently working on this project <p>
  <% @assigned.each do |team| %>
    <p> <%= team.name %> <p>
    <% team.users.each do |user| %>
      <%= user.name %>
      <%= user.email %>
    <% end %>
  <% end %>
<% else %>
  <p> There is no team on this project </p>
<% end %>
<%= link_to "Project Tasks", project_tasks_path(@project), class: "btn btn-primary", id: "banner-button"  %>
  <p> you are leading the following teams that could be assigned to it <p>
  <% @available.each do |team| %>
    <%= team.name %>
    <%= button_to "assign this team", assign_team_project_path(:team => team), data: { turbo_method: :post} %>
  <% end %>
